.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#333;
    padding-left:10px;
    color:#fff;
    position:fixed;
    top: 5px;
    left: 5px;
    width: 610px;
}
.logo{
    font-size:1.5rem;
}
.menu{
    list-style:none;
    display:flex;
}
.menu li{
    margin-left:10px;
}
.menu a{
    color:#fff;
    text-decoration:none;
}
