body{
    padding:5px;
    margin:5px;
}
a:link{
    color:white;
    background-color:black;
    transition:background-color 1s;
}
a:visited{
    background-color:antiquewhite;
    color:red;
    transition:background-color 2s 1s;
}
a:hover{
    background-color:grey;
    padding:20px;
    border:5px solid black;
    color:white;
}
a:active{
    background-color:white;
    color:black;
    box-shadow:10px;
    offset:10px initial;

}