*{
    background-color:antiquewhit
}
section{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
div{
        /* border:5px solid black; */
        flex:1;
        padding:20px;
        margin:5px;
}
.hero-text{
    text-align:center;
    font-size:larger
}

